<div class="page-header">
  <h1>Books Search</h1>
  <h3><%= @books.count %> results found</h3>
</div>
<div class="album text-muted">
     <div class="container">

       <div class="row">
        <%= render @books %>
       </div>

     </div>
   </div>

  
