<div class="page-header">
  <h1>About BookBag</h1>
</div>
<div id="wrapper">
<div class="card card-inverse card-primary text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p> As students, we know how difficult it is to obtain the books we need in a timely manner. Many of
            us choose to purchase books online in hopes of finding the same books at a lower price.
            However, we sacrifice our time in waiting for them to be shipped to us in exchange for some
            savings. With this in mind, we need not only a cheap, but a time efficient method of obtaining
            the books we need and this is precisely what BookBag aims to do.</p>
      <footer>The BookBag Team</footer>
    </blockquote>
  </div>
</div>

<span class="aboutCards">
<div id="mina" class="card">
    <img id="imgPosition" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/8/005/07d/1b1/0b44ed6.jpg" class="img-circle" width=140px height=140px></img>
    <div class="card-block text-center" id="textPosition">
        <h4 class="card-title">Mina Yi</h4>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
</div>
<div id="philipp" class="card">
    <img id="imgPosition" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAATXAAAAJGE0ZGY1MTUxLThjNjctNDkxYy1iMTU5LTQwNzg3MmQ3NzI3Yg.jpg" class="img-circle" width=140px height=140px></img>
    <div class="card-block text-center">
        <h4 class="card-title">Philipp Schubert</h4>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
</div>
<div id="fernando" class=card>
    <img id="imgPosition" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAARFAAAAJGU1NWQyZjgyLTUxZDYtNGI3Yi05ZmQ3LWI5ZDAzYjZmYTUzOQ.jpg" class="img-circle" width=140px height=140px></img>
    <div class="card-block text-center">
        <h4 class="card-title">Fernando Abolafio</h4>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
</div>
<div id="alex" class=card>
    <img id="imgPosition" src="http://i.imgur.com/2Y6Uju7.jpg?2" class="img-circle" width=140px height=140px></img>
    <div class="card-block text-center">
        <h4 class="card-title">Alejandro Reyna</h4>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
</div>
<div id="jc" class=card>
    <img id="imgPosition" src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/p/7/005/02c/2fe/32ccc58.jpg" class="img-circle" width=140px height=140px></img>
    <div class="card-block text-center">
        <h4 class="card-title">Juan Carlos Borja</h4>
        <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
    </div>
</div>
</span>
</div>