
/* General Rules */

body {
    padding-top: 70px; /* for the Navbar */
}

/* Navbar */

.navbar-brand {
    padding: 10px;
}

#navBarUpper {
  background-color: #428BCA;
}

#directions{
  color: #ffffff;
  font-size: 15px;
  font-weight: bolder;
  font-family: helvetica;
  letter-spacing: -1px;
}

.navbar-brand img {
    height:30px;
    width:120px;
}

#homeButton {
  margin-top: 10px;
}

/* Index page */

.jumbotron {
    position: relative;
    background: #000 url("back2.jpg") center center;
    width: 100%;
    height: 100%;
    margin-top: -20px;
    margin-bottom: 4rem;
    border-bottom: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0;
    text-align: center;
    color: #000;
    background-size: cover;
}

#SanJoseStateUniversity{
  background: #FFF no-repeat url("sjsu3.png") center top;
  background-size: cover;
}

#UCLA{
  background: #5d74a5 no-repeat url("ucla3.jpg") center center;
  background-size: cover;
}

#UCB{
  background: no-repeat #003057 url("ucb5.jpg") center bottom;
  background-size: cover;
  
}

#SanJoseStateUniversityHeader{
  color:#0055A2;
}

#UCBHeader{
  /*font-weight: bolder;*/
  color:#EFB82B;
  /*font-family: arial;*/
}

#UCLAHeader{
  font-family: arial;
  font-weight: bolder;
  color:#ffcc00;
}

.latest-jobs h3 {
    text-align: center;
}

.carousel-indicators {
  bottom:-50px;
}

.carousel-inner {
   margin-bottom:50px;
}

.carousel-inner .item {
    padding: 45px;
}

.carousel-control {
    z-index: 10;
    top: 2%;
    width: 30px;
    font-family: 'Helvetica Neue', Arial, sans-serif;
}
.carousel-control.left,
.carousel-control.right { background: none; color: black; }


.carousel-indicators li {
    background-color: #ccc;
}

.carousel-indicators .active {
    background-color: #666;
}

/* Login page */

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.form-signin .socialButtons a {
    color: white;
    opacity:0.9;
}

.form-signin .socialButtons a:hover {
    color: white;
    opacity:1;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}

.form-signin .checkbox {
  font-weight: normal;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.login-error-box {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #cc0000;
  background-color: #ffeeee;
  color: #cc2222;
  font-size: 16px;
}

/* Dashboard */

.main-buttons-row {
    margin-top: 20px;
    margin-bottom: 20px;
}


/* USER PROFILE PAGE */
 .card {
    margin-top: 20px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}





.list-inline {
  white-space:nowrap;
}
.DocumentList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
}

.DocumentItem
{
    border:1px solid black;
    padding:0;
    height:200px;
}
body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.navbar-collapse .container-fluid {
  padding: 2rem 2.5rem;
  border-bottom: 1px solid #55595c;
}

.navbar-collapse h4 {
  color: #818a91;
}

.navbar-collapse .text-muted {
  color: #818a91;
}

.about {
  float: left;
  max-width: 30rem;
  margin-right: 3rem;
}

.social a {
  font-weight: 500;
  color: #eceeef;
}
.social a:hover {
  color: #fff;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

.album {
  min-height: 50rem; /* Can be removed; just added for demo purposes */
  padding-top: 3rem;
  padding-bottom: 3rem;
  background-color: #f7f7f7;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
}

.card > img {
  margin-bottom: .75rem;
}

.card-text {
  font-size: 85%;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}
