<div class="card">
  <img src= "http://covers.openlibrary.org/b/isbn/<%= transaction.book.isbn %>-M.jpg" alt="Card image cap">
  <h4 class="card-title"> <%= transaction.book.title %></h4>
  <p class="card-text"><strong>Author:</strong> <%= transaction.book.author %> </p>
  <p class="card-text"><strong>Price:</strong> <%= transaction.price %> </p>
</div>
