<div class="container">
  <h2>New Book Order</h2>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>Confirm Order</strong></h3>
    </div>
  </div>
</div>
