<div class="page-header">
  <h1>Books Search</h1>
  <h3><%= @transactions.count %> results found</h3>
</div>
<div class="album text-muted">
     <div class="container">
       <div class="row">
        <%= render @transactions %>
       </div>
     </div>
   </div>
